* {
	box-sizing: border-box;
}

.container {
	border: 5px solid #f6bb42;
	max-width: 960px;
	margin: auto;
	padding-left: 120px;
}

.container:after {
	clear: both;
	content: "";
	display: block;
}

.col {
	float: left;
	min-height: 320px;
}

.col-1 {
	background: #3bafda;
	margin-left: -120px;
	width: 120px;
}

.col-2,
.col-3 {
	background: rgba(59, 175, 218, .5);
	border: 5px solid #3bafda;
	width: 50%;
}
